### Functions

In [76]:
import numpy as np

In [44]:
y = x

In [43]:
def x():
    print("x")

In [45]:
y

In [46]:
y()

x

A function can be passed as an argument to another function.

In [10]:
def y(x_func):
    print(y)
    x_func()

In [11]:
y(x)

<function y at 0x103da2378>
x

A function can be defined inside 
another function.

In [16]:
def x():
    print("x")
    def y():
        print("y")
    
    y()

In [17]:
x()

x
y

### A function can return a reference to another function.

In [47]:
def x(): 
    print("x")
    def y(): 
        print("y")
    return y

In [48]:
z = x()

x

In [49]:
z()

y

### Lambda Function

ฟังก์ชั่นไม่มีชื่อ

In [68]:
f=lambda:print("Hello")
f()

Hello

In [65]:
f()

Hello

In [52]:
f = lambda x:x+1

In [53]:
f(9)

10

In [54]:
f = lambda x,y:x+y

In [ ]:
f(9,1)

In [55]:
f = lambda x,y:x+y

In [56]:
f(9,1)

10

In [60]:
f = lambda lst : sum(lst)/len(lst)

In [61]:
data = [1,2,3]
f(data)

2.0

### Using Lambda Function with Map()

In [87]:
lst = [1,2,3]
def sqrt(x): 
    return x**2

In [88]:
xx = list(map(sqrt,lst))
xx

[1, 4, 9]

In [89]:
list(map(lambda x:x**2,lst)) # with lambda

[1, 4, 9]

In [81]:
# list(map(lambda x,n:x**n,lst,[2,2,2])) # or
list(map(lambda x,n:x**n,lst,np.full(len(lst),2)))

[1, 4, 9]

In [82]:
xx = np.full(len(lst),2)
xx

array([2, 2, 2])

### Using Lambda with Filter

In [90]:
lst = [-1,0,1]

In [92]:
def positive(x):
    if x>0:
        return x

In [93]:
list(filter(positive,lst)) # without Lambda

[1]

In [94]:
list(filter(lambda x:x>0,lst))

[1]

### Using Lambda with Reduce

### List Comprehension

In [96]:
list_x = [1,2,3]

In [97]:
squared_list = [x**2 for x in list_x]

In [98]:
squared_list

[1, 4, 9]

In [104]:
list_a  = [1,2,3]
list_b = [2,3,4]
common = []
common = [a for a in list_a for b in list_b if a==b]

In [100]:
common

[2, 3]

In [107]:
common = []
common = [a for a in list_a if a>2 for b in list_b if a==b]

In [108]:
common

[3]

### Numpy

In [109]:
print(np.version)

<module 'numpy.version' from '/anaconda3/lib/python3.6/site-packages/numpy/version.py'>

In [110]:
lst1 = [3,4,5,7,9]
lst2 = [2,4,6,8]
np.array([lst1,lst2])

array([list([3, 4, 5, 7, 9]), list([2, 4, 6, 8])], dtype=object)

In [113]:
arr = np.arange(0, 10, 3)
arr

array([0, 3, 6, 9])

In [117]:
arr = np.linspace(0, 10, 3)  # เริ่ม 0 ถึง 10 ห้ามเกิน 3 ตัว
arr

array([  0.,   5.,  10.])

In [118]:
np.empty((2, 3), dtype='str')

array([['', '', ''],
       ['', '', '']],
      dtype='<U1')

In [119]:
np.full((2, 3), 9)

array([[9, 9, 9],
       [9, 9, 9]])

In [120]:
np.zeros((2, 3))

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [121]:
lst4=[3,5,7,9]
arr4 = np.array([3, 5, 7, 9])
arr4.dtype

dtype('int64')

In [122]:
arr4.shape

(4,)

In [123]:
arr5 = np.array([[3, 5, 7, 9], [2, 4, 6, 8]])

In [124]:
arr5.dtype

dtype('int64')

In [125]:
arr5.shape

(2, 4)

In [126]:
arr5[1, 2]

6

In [127]:
arr5[1, :]

array([2, 4, 6, 8])

In [128]:
arr5.max(axis=0) # Find maximum value in each column

array([3, 5, 7, 9])

In [130]:
arr5[1,0::2]

array([2, 6])

arr

In [135]:
arr5.cumsum(axis=1) # รวมสะสม row

array([[ 3,  8, 15, 24],
       [ 2,  6, 12, 20]])

In [134]:
arr5.cumsum(axis=0) # รวมสะสม col

array([[ 3,  5,  7,  9],
       [ 5,  9, 13, 17]])

### Pandas

series - one dimension , datafrme - 2

In [136]:
import pandas as pd

In [137]:
s = pd.Series(data=,index=,name=)

SyntaxError: invalid syntax (<ipython-input-137-cd3e37a3d40a>, line 1)

In [139]:
arr = np.array([10, 11, 12])
s1 = pd.Series(data=arr)
s1

0    10
1    11
2    12
dtype: int64

In [141]:
d = {'a':20, 'b':30, 'c':40}
s2 = pd.Series(data=d, name='Age')
s2

a    20
b    30
c    40
Name: Age, dtype: int64

In [143]:
val = 5
s3 = pd.Series(data=val,index=['x',2,True])
s3

x       5
2       5
True    5
dtype: int64

In [146]:
s3

x       5
2       5
True    5
dtype: int64

In [147]:
s4 = pd.Series()
s4.set_value(0, 'IT525') 
s4

0    IT525
dtype: object

In [148]:
def addToSeries(n): 
    s = pd.Series()
    for x in range(n):
        s.set_value(x, x)
    return s

In [149]:
def addToList(n): 
    lst=[]
    for x in range(n):
        lst.append(x) 
    s = pd.Series(lst)
    return s

In [156]:
import timeit
start_time1 = timeit.default_timer()
addToSeries(1000)
print(timeit.default_timer()-start_time1)

0.39176337999924726

In [157]:
import timeit
start_time2 = timeit.default_timer()
addToList(1000)
print(timeit.default_timer() - start_time2)

0.0005390669994085329

In [158]:
s8 = pd.Series(['a','b','c'])
s8drop = s8.drop(0)
s8drop

1    b
2    c
dtype: object

In [159]:
s8 = pd.Series(['a','b','c'])
s8drop = s8.drop([0,2])
s8drop

1    b
dtype: object

In [160]:
s8 = pd.Series(['a','b','c'])
s8drop = s8.drop(s8[1:3].index)
s8drop

0    a
dtype: object

In [165]:
s8 = pd.Series(['a','b','c'])
s8drop3 = s8.drop(s8=='b')
s8drop3

2    c
dtype: object

In [166]:
arr = np.array([1, 2, 3, 4]) 
df = pd.DataFrame(data=arr)
print(df)

   0
0  1
1  2
2  3
3  4

In [ ]:
>>> s1 = pd.Series(data=[‘IT525’, ‘IT513’, ‘IT514’, ‘IT699’], index=[5, 6, 7, 8], name=‘Course’) >>> s2 = pd.Series(data=[3, 3, 3, 6], index=[‘r1’, ‘r2’, ‘r3’, ‘r4’], name=‘Credit’)

In [167]:
s1 = pd.Series(data=['IT525', 'IT513', 'IT514', 'IT699'], index=[5, 6, 7, 8], name='Course') 
s2 = pd.Series(data=[3, 3, 3, 6], index=['r1', 'r2', 'r3', 'r4'], name='Credit')

In [168]:
s1

5    IT525
6    IT513
7    IT514
8    IT699
Name: Course, dtype: object

In [169]:
s2

r1    3
r2    3
r3    3
r4    6
Name: Credit, dtype: int64

In [173]:
df8 =  pd.concat([s1.reset_index(), s2.reset_index()], axis=1)
df8

  index Course index  Credit
0     5  IT525    r1       3
1     6  IT513    r2       3
2     7  IT514    r3       3
3     8  IT699    r4       6

In [174]:
df8 =  pd.concat([s1.reset_index(drop=True), s2.reset_index(drop=True)], axis=1)
df8

  Course  Credit
0  IT525       3
1  IT513       3
2  IT514       3
3  IT699       6