<head><b><font size='12'>IT525_lecture02</font></b></head>
<br>by Lawana

In [3]:
# Import pandas package
import pandas as pd
# Read a csv file hosted on a Web page.
url = 'https://raw.githubusercontent.com/sinanuozdemir/principles_of_data_science/master/data/chapter_2/drinks.csv'
# Assign data to a variable as a DataFrame object.
drinks = pd.read_csv(url)
# Display the top 10 rows.
drinks.head(10)
# Show a summary statistics for a column of qualitative data
drinks['continent'].describe()
# Show a summary statistics for a column of quantitative data
drinks['beer_servings'].describe()

count    193.000000
mean     106.160622
std      101.143103
min        0.000000
25%       20.000000
50%       76.000000
75%      188.000000
max      376.000000
Name: beer_servings, dtype: float64

In [5]:
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

In [6]:
drinks['country'].describe()

count         193
unique        193
top       Ireland
freq            1
Name: country, dtype: object

In [7]:
drinks['wine_servings'].describe()

count    193.000000
mean      49.450777
std       79.697598
min        0.000000
25%        1.000000
50%        8.000000
75%       59.000000
max      370.000000
Name: wine_servings, dtype: float64

In [8]:
iris_URL='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [9]:
column_names = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']

In [11]:
iris_dataset = pd.read_csv(iris_URL, sep=',', header=None, names = column_names)

In [12]:
iris_dataset.columns = column_names

In [14]:
iris_dataset.head(5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [15]:
iris_dataset['class'].describe()

count             150
unique              3
top       Iris-setosa
freq               50
Name: class, dtype: object

การคำนวณ

In [16]:
mylist = [110, 76, 29, 38, 105, 31]

In [17]:
len(mylist)

6

In [18]:
sum(mylist)

389

In [19]:
mean = sum(mylist)/len(mylist)
print(mean)

64.83333333333333

In [21]:
import numpy as np
np.mean(mylist)

64.833333333333329

In [22]:
data1 = [('data', [110, 76, 29, 38, 105, 31])]

In [24]:
df = pd.DataFrame.from_items(data1)

In [25]:
df.mean()

data    64.833333
dtype: float64

เอาข้อมูล excel มาวิเคราะห์

In [26]:
import os
os.getcwd()

'C:\\Users\\1803'

In [29]:
path = os.chdir('C:\\Users\\1803\\Desktop')
os.getcwd()

'C:\\Users\\1803\\Desktop'

In [30]:
filename = 'Purchase Orders.xlsx'
#อ่านsheet data 2แถวแรกไม่ต้องอ่านแล้วเก็บไว้ใน file df
df = pd.read_excel(filename, sheetname='Data', skiprows=2)

In [31]:
#ให้สูงสุดของข้อมูล เป็น header
df.head()

,Supplier,Order No.,Item No.,Item Description,Item Cost,Quantity,Cost per order,A/P Terms (Months),Order Date,Arrival Date
0,Hulkey Fasteners,Aug11001,1122,Airframe fasteners,4.25,19500,82875.0,30,2011-08-05,2011-08-13
1,Alum Sheeting,Aug11002,1243,Airframe fasteners,4.25,10000,42500.0,30,2011-08-08,2011-08-14
2,Fast-Tie Aerospace,Aug11003,5462,Shielded Cable/ft.,1.05,23000,24150.0,30,2011-08-10,2011-08-15
3,Fast-Tie Aerospace,Aug11004,5462,Shielded Cable/ft.,1.05,21500,22575.0,30,2011-08-15,2011-08-22
4,Steelpin Inc.,Aug11005,5319,Shielded Cable/ft.,1.10,17500,19250.0,30,2011-08-20,2011-08-31

In [32]:
df.columns

Index(['Supplier ', 'Order No.', 'Item No.', 'Item Description', 'Item Cost',
       'Quantity', 'Cost per order', 'A/P Terms (Months)', 'Order Date',
       'Arrival Date'],
      dtype='object')

In [33]:
df['Cost per order'].mean()

26295.31914893617

หา median

In [34]:
median_data = [177, 153, 122, 141, 189, 155, 162, 165, 149, 157, 240]

In [38]:
n = len(median_data)
position = n//2+1
#เรียงลำดับข้อมูลจากน้อยไปมาก
median_data.sort(reverse=False)
median = median_data[position-1]
print(median)

157

วิเคราะห์จาก excel

In [41]:
#อ่านทุก sheet 
wb = pd.read_excel(filename, sheetname=None, skiprows=2)
wb.keys()

odict_keys(['Data', 'Mean', 'Median', 'Variance', 'z-scores', 'Descriptive Statistics'])

In [42]:
median_df = wb['Data']
median_df.columns

Index(['Supplier ', 'Order No.', 'Item No.', 'Item Description', 'Item Cost',
       'Quantity', 'Cost per order', 'A/P Terms (Months)', 'Order Date',
       'Arrival Date'],
      dtype='object')

In [43]:
median_df['Cost per order'].median()

15656.25

ใช้ statistic ในการหา mode ซึ่งจะหา mode ที่เป็น text ได้ด้วย

In [45]:
import statistics
mode_data = [18.0, 14.0, 34.5, 10, 11.3, 10, 12.4, 10]
statistics.mode(mode_data)
#แต่ถ้าข้อมูลที่มี mode > 2 อัน จะแสดง mode อันเดียว โดยจะแสดง mode ที่มีค่าน้อยที่สุด ยกเว้น text จะไม่สามารถทำ multimode ได้

10

In [60]:
mode_data2=[ 'fish', 'cat', 'cat', 'dog', 'chicken']
statistics.mode(mode_data2)

'cat'

หา mode ในกรณี multimode

In [61]:
from collections import Counter
def find_mode(lst):
    counter = Counter(lst)
    _, val = counter.most_common(1)[0]
    return [x for x, y in counter.items() if y == val]

In [62]:
mode_data3=[1,1,2,2,3]

In [63]:
find_mode(mode_data3)

[1, 2]

เอาข้อมูล excel มาวิเคราะห์หา midrange

In [64]:
min1 = min(df['Cost per order'])
max1 = max(df['Cost per order'])

min2 = (df['Cost per order']).min()
max2 = (df['Cost per order']).max()

In [65]:
midrange1 = (max1-min1)/2
midrange2 = (max2-min2)/2
print(midrange1,midrange2)

63715.625 63715.625

หา interquartile

In [66]:
import os
path = os.chdir('C:\\Users\\1803\\Desktop')
filename1 =  'Computer Repair Times.xlsx'
df1 = pd.read_excel(filename1, sheetname='Data', skiprows=2)
df1.columns

Index(['Sample', 'Repair Time (Days)'], dtype='object')

In [69]:
q1,q2,q3 = df1['Repair Time (Days)'].quantile([0.25,0.50, 0.75])
interQuartileRange = q3-q1
print(interQuartileRange)

6.0

In [70]:
print(q2)

14.0

In [75]:
sortdf1 = df1['Repair Time (Days)'].sort_values()

In [76]:
len(sortdf1)

250

In [85]:
sortdf1[124]

22

In [88]:
import numpy as np
quartile1,quartile3 = np.percentile(df1['Repair Time (Days)'],[25,75])
print ('Quartile1=%.2f and Quartile3 = %.2f' %(quartile1, quartile3))

Quartile1=11.00 and Quartile3 = 17.00

หา variance

In [90]:
population_variance = np.var(df['Cost per order'],ddof=0)
sample_variance = np.var(df['Cost per order'],ddof=1)

In [91]:
print('population variance = %.3f and Sample variance =%.3f' %(population_variance,sample_variance))

population variance = 881120163.465 and Sample variance =890594573.824

หา SD

In [92]:
population_sd = np.std(df['Cost per order'],ddof=0)
sample_sd = np.std(df['Cost per order'],ddof=1)
print('population sd = %.3f and Sample sd =%.3f' %(population_sd,sample_sd))

population sd = 29683.668 and Sample sd =29842.831