In [1]:
import pandas as pd

Example: Read a sample dataset in csv format with column names from book url.

In [10]:
url = 'https://raw.githubusercontent.com/sinanuozdemir/principles_of_data_science/master/data/chapter_2/drinks.csv'
url

'https://raw.githubusercontent.com/sinanuozdemir/principles_of_data_science/master/data/chapter_2/drinks.csv'

In [11]:
drinks = pd.read_csv(url)

In [12]:
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

In [17]:
drinks.tail(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [13]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       170 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.1+ KB

In [14]:
drinks['continent'].describe()

count     170
unique      5
top        AF
freq       53
Name: continent, dtype: object

In [16]:
drinks['beer_servings'].describe()

count    193.000000
mean     106.160622
std      101.143103
min        0.000000
25%       20.000000
50%       76.000000
75%      188.000000
max      376.000000
Name: beer_servings, dtype: float64

Example: Read iris dataset in csv format without column names from UCI machine learning repository

In [25]:
# Read a csv file hosted on a Web page.
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
# Set column names, and assign data to a variable as a DataFrame object.
column_names = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']
iris_dataset = pd.read_csv(url, sep=',', header=None, names = column_names)

# Change column names
new_column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'] 
iris_dataset.columns = new_column_names

In [26]:
iris_dataset

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
11            4.8          3.4           1.6          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
18            5.7          3.8           1.7          0.3     Iris-setosa
19            5.1          3.8           1.5          0.3     Iris-setosa
20            5.4          3.4           1.7          0.2     Iris-setosa
21            5.1          3.7           1.5          0.4     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
23            5.1          3.3           1.7          0.5     Iris-setosa
24            4.8          3.4           1.9          0.2     Iris-setosa
25            5.0          3.0           1.6          0.2     Iris-setosa
26            5.0          3.4           1.6          0.4     Iris-setosa
27            5.2          3.5           1.5          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
29            4.7          3.2           1.6          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [24]:
# Show column names
print(iris_dataset.columns)
# Display the top 5 rows
print(iris_dataset.head())
# Display the top 10 rows.
print(iris_dataset.head(10))
# Display the bottom 20 rows
print(iris_dataset.tail(20))
# Show a summary statistics for a column of qualitative data
print(iris_dataset['class'].describe())
# Show a summary statistics for a column of quantitative data iris_dataset[‘petal_width’].describe()

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')
   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa
     sepal_length  sepal_width  petal_length  petal_width           class
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica
count                 150
unique                  3
top       Iris-versicolor
freq                   50
Name: class, dtype: object

In [27]:
print(iris_dataset['petal_width'].describe())

count    150.000000
mean       1.198667
std        0.763161
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: petal_width, dtype: float64

 Example: Compute the mean of the following sample data set.

In [28]:
mylist = [110, 76, 29, 38, 105, 31]

In [29]:
mymean = sum(mylist)/len(mylist)

In [30]:
mymean

64.83333333333333

use numpy

In [32]:
import numpy as np
mylist = [110, 76, 29, 38, 105, 31]
mymean = np.mean(mylist)
print(mymean)

64.8333333333

use panda

In [35]:
import pandas as pd
mylist = [('data', [110, 76, 29, 38, 105, 31])] 
df = pd.DataFrame.from_items(mylist) 
mymean = df['data'].mean()
print(mymean)

64.83333333333333

In [36]:
type(mylist)

list

• Example #01: Computing the Mean Cost per Order using Purchase Orders.xlsx

In [37]:
import os

In [38]:
os.getcwd()

'/Users/supanat/Dev/DS/Lab02'

In [39]:
path = os.chdir('/Users/supanat/Dev/DS/Lab02')

In [40]:
filename = 'Purchase Orders.xlsx'

In [59]:
df = pd.read_excel(filename, sheetname='Data', skiprows=2) # อ่านเฉพาะชีืืท Data และ 2 แถวแรกไม่อ่าน

In [42]:
df.columns

Index(['Supplier ', 'Order No.', 'Item No.', 'Item Description', 'Item Cost',
       'Quantity', 'Cost per order', 'A/P Terms (Months)', 'Order Date',
       'Arrival Date'],
      dtype='object')

In [45]:
df['Cost per order'].mean()

26295.31914893617

In [48]:
df.head()

,Supplier,Order No.,Item No.,Item Description,Item Cost,Quantity,Cost per order,A/P Terms (Months),Order Date,Arrival Date
0,Hulkey Fasteners,Aug11001,1122,Airframe fasteners,4.25,19500,82875.0,30,2011-08-05,2011-08-13
1,Alum Sheeting,Aug11002,1243,Airframe fasteners,4.25,10000,42500.0,30,2011-08-08,2011-08-14
2,Fast-Tie Aerospace,Aug11003,5462,Shielded Cable/ft.,1.05,23000,24150.0,30,2011-08-10,2011-08-15
3,Fast-Tie Aerospace,Aug11004,5462,Shielded Cable/ft.,1.05,21500,22575.0,30,2011-08-15,2011-08-22
4,Steelpin Inc.,Aug11005,5319,Shielded Cable/ft.,1.10,17500,19250.0,30,2011-08-20,2011-08-31

In [49]:
df.columns

Index(['Supplier ', 'Order No.', 'Item No.', 'Item Description', 'Item Cost',
       'Quantity', 'Cost per order', 'A/P Terms (Months)', 'Order Date',
       'Arrival Date'],
      dtype='object')

### Median
odd

In [54]:
odd = [177, 153, 122, 141, 189, 155, 162, 165, 149, 157, 240]
n = len(odd)
print('mid is position',n)
position = n//2 + 1
odd.sort(reverse=False)
print(odd)
median = odd[position-1]
median

mid is position 11
[122, 141, 149, 153, 155, 157, 162, 165, 177, 189, 240]

157

even

In [57]:
even = [684, 764, 656, 702, 856, 1133, 1132, 1303] 
n=len(even)
even.sort()
print((even[n//2-1]+even[n//2])/2)

810.0

• Example #02: Finding the Median Cost per Order using Purchase Orders.xlsx

In [61]:
path = os.chdir('/Users/supanat/Dev/DS/Lab02')
filename = 'Purchase Orders.xlsx'
wb = pd.read_excel(filename, sheetname=None, skiprows=2) # อ่านทุกชีืท 2 แถวแรกไม่อ่าน 
wb.keys() # Show all sheet name

odict_keys(['Data', 'Mean', 'Median', 'Variance', 'z-scores', 'Descriptive Statistics'])

In [67]:
df = wb['Data']
df.columns

Index(['Supplier ', 'Order No.', 'Item No.', 'Item Description', 'Item Cost',
       'Quantity', 'Cost per order', 'A/P Terms (Months)', 'Order Date',
       'Arrival Date'],
      dtype='object')

In [72]:
df['Cost per order'].median()

15656.25

### Mode

In [79]:
# one mode
import statistics
numeric_data = [18.0, 14.0, 34.5, 10, 11.3, 10, 12.4, 10] 
print(statistics.mode(numeric_data))

categorical_data = ['fish', 'cat', 'cat', 'dog', 'chicken']
print(statistics.mode(categorical_data))

10
cat

In [80]:
#multi mode
from collections import Counter 
def find_mode(lst):
        counter = Counter(lst)
        _, val = counter.most_common(1)[0]
        return [x for x, y in counter.items() if y == val]
data = [104, 104, 104, 104, 104, 107, 109, 109, 109, 110, 109, 111, 112, 111, 109]
find_mode(data)

[104, 109]

### Mid Range

In [81]:

sheet = df
sheet.columns

min1 = min(sheet['Cost per order'])
max1 = max(sheet['Cost per order']) 

min2 = sheet['Cost per order'].min() 
max2 = sheet['Cost per order'].max() 

midrange = (max1 + min1)/2

if min1 == min2 and max1 == max2: 
    print(midrange)

63784.375

### Interquartile

In [89]:
import os
import pandas as pd
path = os.chdir('/Users/supanat/Dev/DS/Lab02')
filename1 = 'Computer Repair Times.xlsx'
sheet1 = pd.read_excel(filename1, sheetname='Data', skiprows=2)
sheet1.columns

Index(['Sample', 'Repair Time (Days)'], dtype='object')

In [96]:
q1,q2,q3 = sheet1['Repair Time (Days)'].quantile([0.25,0.50, 0.75])  #0.25 = 25% =Q1 , 0.75 75% Q3
print(q1)
print(q2)
print(q3)
iqr = q3-q1
print(iqr)

11.0
14.0
17.0
6.0

In [108]:
rt = sheet1['Repair Time (Days)'].sort_values()
rt

207     5
247     6
228     6
31      7
115     7
233     7
62      7
241     7
90      8
71      8
135     8
166     8
236     8
139     8
6       8
41      8
43      8
196     8
133     8
210     8
225     9
39      9
51      9
85      9
59      9
47      9
195     9
3       9
149     9
151     9
       ..
240    21
87     21
199    21
179    21
211    21
223    22
173    22
142    22
124    22
164    23
244    23
222    23
103    23
60     25
237    25
129    25
194    26
80     26
187    27
157    27
23     29
7      29
246    31
22     34
121    36
89     36
4      37
54     38
229    39
32     40
Name: Repair Time (Days), Length: 250, dtype: int64

In [115]:
import numpy as np
quartile1,quartile2 = np.percentile(sheet1['Repair Time (Days)'], [25, 75])

print('Quartile 1 = '+str(quartile1)+' and Quartile3 = '+str(quartile1))


#print('Quartile 1 = %.2f nad Quartile3 = %.2f'%(quartile1,quartile2))

Quartile 1 = 11.0 and Quartile3 = 11.0

Variance

In [117]:
#fileName = 'Purchase Order.xlxs'
#path = os.chdir('/Users/supanat/Dev/DS/Lab02')
#filename1 = 'Computer Repair Times.xlsx'

pop_var = np.var(df['Cost per order'],ddof=0)
sam_var = np.var(df['Cost per order'],ddof=1)
print(pop_var)
print(sam_var)

881120163.4646332
890594573.824468

Standard Deviation

In [125]:
path = os.chdir('/Users/supanat/Dev/DS/Lab02')
filename = 'Computer Repair Times.xlsx'
sheet = pd.read_excel(filename, sheetname='Data', skiprows=2)
sheet

     Sample  Repair Time (Days)
0         1                  18
1         2                  15
2         3                  17
3         4                   9
4         5                  37
5         6                  15
6         7                   8
7         8                  29
8         9                  10
9        10                  14
10       11                  17
11       12                  12
12       13                  13
13       14                  12
14       15                  11
15       16                  14
16       17                  13
17       18                  16
18       19                  13
19       20                  15
20       21                  16
21       22                  12
22       23                  34
23       24                  29
24       25                  13
25       26                  19
26       27                  12
27       28                  15
28       29                  16
29       30                  14
..      ...                 ...
220     221                  11
221     222                  18
222     223                  23
223     224                  22
224     225                  19
225     226                   9
226     227                  11
227     228                  10
228     229                   6
229     230                  39
230     231                  14
231     232                  10
232     233                  11
233     234                   7
234     235                  13
235     236                  17
236     237                   8
237     238                  25
238     239                  20
239     240                  13
240     241                  21
241     242                   7
242     243                  12
243     244                  16
244     245                  23
245     246                  18
246     247                  31
247     248                   6
248     249                  17
249     250                  13

[250 rows x 2 columns]

In [126]:
path = os.chdir('/Users/supanat/Dev/DS/Lab02')
filename = 'Purchase Orders.xlsx'
sheet = pd.read_excel(filename, sheetname='Data', skiprows=2)


population_std = np.std(sheet['Cost per order'], ddof=0)
sample_std = np.std(sheet['Cost per order'], ddof=1)
print(population_std)
print(sample_std)

29683.668295287112
29842.83119652805