Measure of Variation

In [26]:
import pandas as pd
import os
import numpy as np

path = os.chdir('/Users/supanat/Dev/DS/Lab02')
filename = 'Purchase Orders.xlsx'
df = pd.read_excel(filename, sheetname='Data', skiprows=2)

### Chebyshev's Thorem

In [13]:
#df

x_bar = df['Cost per order'].mean()
sd = df['Cost per order'].std()
lower_limit = x_bar - 2* sd  # 2 is k from slide page 50,51
upper_limit = x_bar +2 * sd
print(lower_limit)
print(upper_limit)

print(len(df['Cost per order']))

-33390.34324411993
85980.98154199228
94

In [14]:
0.75 * len(df['Cost per order'])

70.5

In [21]:
def countDataPoint(lst,ll,up):
    count = 0
    l = []
    for x in df['Cost per order']:
        
        if x >= ll and x <= up:
            count = count + 1
            l.append(df['Cost per order'])
    return count,l
        
        
num ,data = countDataPoint(df['Cost per order'],lower_limit,upper_limit)
print(num)
print(len(data))

89
89

In [22]:
# emppirical Rule

# rule 2

### Standardize Value <br>
Z-score

In [25]:
from scipy.stats import zscore
df.apply(zscore)

TypeError: ("unsupported operand type(s) for /: 'str' and 'int'", 'occurred at index Supplier ')

In [28]:
# Z-core
numeric_col = df.select_dtypes(include=[np.number]).columns
df[numeric_col].apply(zscore).head()

   Item No.  Item Cost  Quantity  Cost per order  A/P Terms (Months)
0 -1.742134  -0.413396  1.891200        1.906088           -0.094246
1 -1.695233  -0.413396  0.574266        0.545912           -0.094246
2 -0.059906  -0.436051  2.376386       -0.072273           -0.094246
3 -0.059906  -0.436051  2.168449       -0.125332           -0.094246
4 -0.115335  -0.435697  1.613951       -0.237347           -0.094246

In [29]:
df[numeric_col].head()

   Item No.  Item Cost  Quantity  Cost per order  A/P Terms (Months)
0      1122       4.25     19500         82875.0                  30
1      1243       4.25     10000         42500.0                  30
2      5462       1.05     23000         24150.0                  30
3      5462       1.05     21500         22575.0                  30
4      5319       1.10     17500         19250.0                  30